<div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
  {{#link-to 'index'}}Home{{/link-to}} |
  {{#link-to 'about'}}About{{/link-to}} |
  {{#link-to 'contact'}}Contact{{/link-to}}<hr>

    {{outlet}}
  <hr>
  <footer>© 2017</footer>
</div>
