


<h3>Rental {{model.type}}</h3>


{{rental-detail rental=model destroyRental="destroyRental" destroyReview="destroyReview"}}

<div class="pull-right">
{{update-rental rental=model update="update"}}<br>
</div>

{{new-review saveReview="saveReview" rental=model}}
